<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./../../assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./../../styles.css">
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    <title>Notre entreprise</title>
    <meta name="description" content="Les colonnes lumineuses de la Gamme LUSCIOL ont été développées pour vous accompagner dans vos projets d'aménagement extérieur." />
  </head>
  <body>

    <!-- Navbar-->
    <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
        <div class="container">
            <a class="navbar-brand text-primary" href="./index.html" alt="Redirection vers la page d'accueil"><img src="./../../assets/images/Logo-Noir-Dégradé-2.png" class="logo"></a>
            <button class="navbar-toggler text-black" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-lg-5">
                    <li class="nav-item"><a class="nav-link" href="./../../index.html" alt="Redirection vers la page d'accueil">Accueil </a></li>
                    <li class="nav-item"><a class="nav-link" href="./entreprise.html" alt="Redirection vers la description d'entreprise">Entreprise </a></li>
                    <li class="nav-item">
                        <a class="nav-link none" href="./contact.html" alt="Redirection vers la page de contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
<section class="bg-white pt-md-10 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2 class="mb-4">Découvrez en détails <span class="red-span">Lusciol</span></h2>
                <p>Les colonnes lumineuses de la Gamme LUSCIOL ont été développées pour accompagner les acteurs de l’architecture et du design, les paysagistes et les clients dans la création ou la modification d’aménagement extérieur. </p>
                <p>Que ce soit un accès, une terrasse, la mise en avant d’une entrée ou l’éclairage autour d’une piscine,
                notre gamme trouvera toujours un emplacement pour valoriser vos extérieurs et rendre vos projets uniques.</p>
                <p>Cette gamme est issue d’une réflexion commune avec nos partenaires, désireux de créer des luminaires s’intégrant parfaitement dans leur univers.</p>
                <p class="mb-0">La gamme Lusciol était née !</p>
                <hr class="my-5" />
                <h4 class="mb-4">
                    <img src="./../../assets/images/Logo-Cercle-fond-dégradé-+-lusicol-blanc.png" width="50" height="50">
                    Lusciol Personnalisation
                </h4>
                <p>Envie d’un produit unique ?</p>
                <p>Personnalisez en fonction de vos envies afin d’harmoniser l’ensemble votre projet</p>
                <div class="card bg-gray-100 shadow-none">
                    <div class="card-body">
                        <ul class="mb-0">
                            <li class="text-italic">Dimensions</li>
                            <li class="text-italic">Teintes</li>
                            <li class="text-italic">Motifs d’ajourage</li>
                            <li class="text-italic">Ambiance lumineuse</li>
                        </ul>
                    </div>
                </div>
                <hr class="my-5" />
            </div>
        </div>
    </div>
</section>
<section class="pb-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2>Contactez-nous</h2>
                <p class="mb-5">Une idée ? Un projet ? Un renseignement ? Cliquez-moi !</p>
                <div class="row">
                    <div class="col mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-stack icon-stack-lg bg-lusciol text-white mb-3"><i data-feather="mail"></i></div>
                                <div class="small"><a href="mailto:contact@lusciol.com" alt="Email de contact">contact@lusciol.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-stack icon-stack-lg bg-lusciol text-white mb-3"><i data-feather="smartphone"></i></div>
                                <div class="small"><a href="tel:+33607282725" alt="Numéro pour nous contacter">06 07 28 27 25</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="layoutDefault_footer">
    <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-brand">Lusciol</div>
                    <div class="mb-3">Par Sign Connect</div>
                    <div class="icon-list-social mb-5">
                        <a class="icon-list-social-link" href="#!" alt="Redirection vers notre page Instagram"><i class="fab fa-instagram"></i></a><a class="icon-list-social-link" href="#!" alt="Redirection vers notre page Facebook"><i class="fab fa-facebook"></i></a><a class="icon-list-social-link" href="#!" alt="Redirection vers notre page Twitter"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row justify-content-sm-center">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <div class="text-uppercase-expanded text-xs mb-4">Plan du site</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="./../../index.html" alt="Redirection vers la page d'accueil">Accueil</a></li>
                                <li class="mb-2"><a href="./entreprise.html" alt="Redirection vers la description d'entreprise">Entreprise</a></li>
                                <li><a href="./contact.html" alt="Redirection vers la page de contact" class="none">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-5" />
            <div class="row align-items-center">
                <div class="col-md-6 small">Copyright &copy; Lusciol 2021</div>
                <div class="col-md-6 text-md-right small">
                </div>
            </div>
        </div>
    </footer>
</div>
</main>
</div>
      
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="./../../assets/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      disable: 'mobile',
      duration: 600,
      once: true,
    });
  </script>
</body>
</html>