<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./../../assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./../../styles.css">
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    <title>Luscioles</title>
  </head>
  <body>

    <!-- Navbar-->
    <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
      <div class="container">
          <a class="navbar-brand text-primary" href="./../../index.html">Luscioles</a>
          <button class="navbar-toggler text-black" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mr-lg-5">
                  <li class="nav-item"><a class="nav-link" href="./../../index.html">Accueil </a></li>
                  <li class="nav-item"><a class="nav-link" href="./entreprise.html">Entreprise </a></li>
                  <li class="nav-item"><a class="nav-link" href="./gammes.html">Gammes </a></li>
                  <li class="nav-item">
                      <a class="nav-link" href="./realisation.html">Réalisations</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="./presse.html">Presse</a>
                  </li>
              </ul>
              <a class="btn font-weight-500 ml-lg-4 btn-primary" href="./contact.html">Contact</a>
          </div>
      </div>
  </nav>
    
    <main>

        <div id="myCarousel" class="carousel slide pb-5" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./../../images/slider2-min.png" alt="...">
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1 class="text-white">One more for good measure.</h1>
                  <p>Some representative placeholder content for the first slide of the carousel.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="./../../images/slider3-min.jpg" alt="...">
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1 class="text-white">Another example headline.</h1>
                  <p>Some representative placeholder content for the second slide of the carousel.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="./../../images/slider1.png" alt="...">
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1 class="text-white">One more for good measure.</h1>
                  <p>Some representative placeholder content for the third slide of this carousel.</p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
      
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
      
        <div class="container marketing">
      
          <!-- Three columns of text below the carousel -->
          <div class="row pb-5">
            <div class="col-lg-4 text-center">
              <img src="./../../images/produit.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
              <h2>Dimensions</h2>
              <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
              <p><a class="btn btn-secondary btn-center" href="./produit.html">Voir plus &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4 text-center">
              <img src="./../../images/produit2.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
              <h2>Ajourage</h2>
              <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column. Some more words.</p>
              <p><a class="btn btn-secondary btn-center" href="./produit.html">Voir plus &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4 text-center">
              <img src="./../../images/produit3.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
              <h2>Ambiance</h2>
              <p>And lastly this, the third column of representative placeholder content. More non-sense words for the third and last line.</p>
              <p><a class="btn btn-secondary btn-center" href="./produit.html">Voir plus &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
      
      
          <!-- START THE FEATURETTES -->
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
              <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
              <img src="./../../images/500-1.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500px" height="500px">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="./../../images/500-2.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
              <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
              <img src="./../../images/500-3.png" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <!-- /END THE FEATURETTES -->
      
        </div><!-- /.container -->
      
      
        <div id="layoutDefault_footer">
          <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-light">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-3">
                          <div class="footer-brand">Luscioles</div>
                          <div class="mb-3">Par Sign Connect</div>
                          <div class="icon-list-social mb-5">
                              <a class="icon-list-social-link" href="#!"><i class="fab fa-instagram"></i></a><a class="icon-list-social-link" href="#!"><i class="fab fa-facebook"></i></a><a class="icon-list-social-link" href="#!"><i class="fab fa-twitter"></i></a>
                          </div>
                      </div>
                      <div class="col-lg-9">
                          <div class="row justify-content-sm-center">
                              <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                  <div class="text-uppercase-expanded text-xs mb-4">Gammes</div>
                                  <ul class="list-unstyled mb-0">
                                      <li class="mb-2"><a href="#!">Gamme 1</a></li>
                                      <li class="mb-2"><a href="#!">Gamme 2</a></li>
                                      <li><a href="#!">Gamme 3</a></li>
                                  </ul>
                              </div>
                              <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                  <div class="text-uppercase-expanded text-xs mb-4">Liens Utiles</div>
                                  <ul class="list-unstyled mb-0">
                                      <li class="mb-2"><a href="#!">Documentation</a></li>
                                      <li class="mb-2"><a href="#!">Mentions Légales</a></li>
                                      <li><a href="#!">Autres</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr class="my-5" />
                  <div class="row align-items-center">
                      <div class="col-md-6 small">Copyright &copy; Luscioles 2021</div>
                      <div class="col-md-6 text-md-right small">
                          <a href="#!">Politique de Confidentialité</a>
                          &middot;
                          <a href="#!">Termes &amp; Conditions</a>
                      </div>
                  </div>
              </div>
          </footer>
      </div>
      </main>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="./../../assets/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      disable: 'mobile',
      duration: 600,
      once: true,
    });
  </script>
      </body>