<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./../../assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./../../styles.css">
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    <title>Luscioles</title>
  </head>
  <body>

    <!-- Navbar-->
    <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
        <div class="container">
            <a class="navbar-brand text-primary" href="./../../index.html">Luscioles</a>
            <button class="navbar-toggler text-black" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-lg-5">
                    <li class="nav-item"><a class="nav-link" href="./../../index.html">Accueil </a></li>
                    <li class="nav-item"><a class="nav-link" href="./entreprise.html">Entreprise </a></li>
                    <li class="nav-item"><a class="nav-link" href="./gammes.html">Gammes </a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="./realisation.html">Réalisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./presse.html">Presse</a>
                    </li>
                </ul>
                <a class="btn font-weight-500 ml-lg-4 btn-primary" href="./contact.html">Contact</a>
            </div>
        </div>
    </nav>

  <section class="bg-light py-10">
    <div class="container">
        <a class="card post-preview post-preview-featured lift mb-5" href="./post.html"
            ><div class="row no-gutters">
                <div class="col-lg-5"><div class="post-preview-featured-img" style="background-image: url('https://source.unsplash.com/vZJdYl5JVXY/660x360')"></div></div>
                <div class="col-lg-7">
                    <div class="card-body">
                        <div class="py-5">
                            <h5 class="card-title">Boots on the Ground, Inclusive Thought Provoking Ideas</h5>
                            <p class="card-text">Empower communities and energize engaging ideas; scale and impact do-gooders while disruptring industries. Venture philanthropy benefits corporations and people by moving the needle.</p>
                        </div>
                        <hr />
                        <div class="post-preview-meta">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">Le Progrès</div>
                                <div class="post-preview-meta-details-date">22 février 2021</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></a
        >
        <div class="row">
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100" href="./post.html"
                    ><img class="card-img-top" src="https://source.unsplash.com/KE0nC8-58MQ/660x360" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Invest In Social Impact</h5>
                        <p class="card-text">Expose the truth, problem-solvers impact mobilized green spaces.</p>
                    </div>
                    <div class="card-footer">
                        <div class="post-preview-meta">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">Le Progrès</div>
                                <div class="post-preview-meta-details-date">22 février 2021</div>
                            </div>
                        </div>
                    </div></a
                >
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100" href="./post.html"
                    ><img class="card-img-top" src="https://source.unsplash.com/hGV2TfOh0ns/660x360" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Save the World, Social Entrepreneur</h5>
                        <p class="card-text">Contextualize co-creation and do good while building your startup.</p>
                    </div>
                    <div class="card-footer">
                        <div class="post-preview-meta">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">Le Progrès</div>
                                <div class="post-preview-meta-details-date">22 février 2021</div>
                            </div>
                        </div>
                    </div></a
                >
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100" href="./post.html"
                    ><img class="card-img-top" src="https://source.unsplash.com/9l_326FISzk/660x360" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Design Thinking Benefits Corporation Thought Leadership</h5>
                        <p class="card-text">Global changemakers, a state of play releives stress and creates inspirational work environments.</p>
                    </div>
                    <div class="card-footer">
                        <div class="post-preview-meta">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">Le Progrès</div>
                                <div class="post-preview-meta-details-date">22 février 2021</div>
                            </div>
                        </div>
                    </div></a
                >
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100" href="./post.html"
                    ><img class="card-img-top" src="https://source.unsplash.com/oqStl2L5oxI/660x360" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Collaborative Consumption, Human-Centered Technology Thought Leader Systems</h5>
                        <p class="card-text">Milestones theory of change, an effective paradigm, exposes the truth and best practices to uplift equal opportunity.</p>
                    </div>
                    <div class="card-footer">
                        <div class="post-preview-meta">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">Le Progrès</div>
                                <div class="post-preview-meta-details-date">22 février 2021</div>
                            </div>
                        </div>
                    </div></a
                >
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100" href="./post.html"
                    ><img class="card-img-top" src="https://source.unsplash.com/Oalh2MojUuk/660x360" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Co-create, Empower - Moving the Needle on Investor Interests</h5>
                        <p class="card-text">Scalable efficient systems and thinking as a social entrepreneur creates a transparent, targeted vison.</p>
                    </div>
                    <div class="card-footer">
                        <div class="post-preview-meta">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">Le Progrès</div>
                                <div class="post-preview-meta-details-date">22 février 2021</div>
                            </div>
                        </div>
                    </div></a
                >
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100" href="./post.html"
                    ><img class="card-img-top" src="https://source.unsplash.com/-uHVRvDr7pg/660x360" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Inclusive Shared Units of Analysis</h5>
                        <p class="card-text">Commit to inspiring social capital, social capital inspires the body and the mind.</p>
                    </div>
                    <div class="card-footer">
                        <div class="post-preview-meta">
                            <div class="post-preview-meta-details">
                                <div class="post-preview-meta-details-name">Le Progrès</div>
                                <div class="post-preview-meta-details-date">22 février 2021</div>
                            </div>
                        </div>
                    </div></a
                >
            </div>
        </div>
        
    </div>
    <div class="svg-border-rounded text-dark">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>

      <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand">Luscioles</div>
                        <div class="mb-3">Par Sign Connect</div>
                        <div class="icon-list-social mb-5">
                            <a class="icon-list-social-link" href="#!"><i class="fab fa-instagram"></i></a><a class="icon-list-social-link" href="#!"><i class="fab fa-facebook"></i></a><a class="icon-list-social-link" href="#!"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row justify-content-sm-center">
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4">Gammes</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="#!">Gamme 1</a></li>
                                    <li class="mb-2"><a href="#!">Gamme 2</a></li>
                                    <li><a href="#!">Gamme 3</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                <div class="text-uppercase-expanded text-xs mb-4">Liens Utiles</div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="#!">Documentation</a></li>
                                    <li class="mb-2"><a href="#!">Mentions Légales</a></li>
                                    <li><a href="#!">Autres</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="row align-items-center">
                    <div class="col-md-6 small">Copyright &copy; Luscioles 2021</div>
                    <div class="col-md-6 text-md-right small">
                        <a href="#!">Politique de Confidentialité</a>
                        &middot;
                        <a href="#!">Termes &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="./../../assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        disable: 'mobile',
        duration: 600,
        once: true,
      });
    </script>
  </body>
  </html>
